@import "~bootstrap/scss/bootstrap";

.card-view {
  background-image: url('~images/natural.jpg');
  max-width: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}


